html, body { height: 100%; }
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "grotzechdcndemiregular";
  letter-spacing: .05em;
  background: #1D232C;
  color: white;
}

footer {
  background: black;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 12px;
}

footer .title {
  color: white;
  font-size: 24px;
}
footer .author {
  color: #98999B;
  font-size: 16px;
}
footer .version {
  color: #98999B;
  font-size: 12px;
  position: absolute;
  right: 12px;
  bottom: 12px;
}

footer .thumbnail {
  position: absolute;
  left: 12px;
  bottom: 100%;
  opacity: 0;
  transition: opacity .3s linear;
  -webkit-box-shadow: 00px 0 5px 0 rgba(0,0,0,1);
  box-shadow: 00px 0 5px 0 rgba(0,0,0,1);
  pointer-events: none;
}

footer:hover .thumbnail {
  pointer-events: all;
  opacity: 1;
}

.container {
  display: block;
  margin: auto;
  width: 1024px;
  height: 768px;
  position: relative;
  -webkit-box-shadow: 00px 0 5px 0 rgba(0,0,0,1);
  box-shadow: 00px 0 5px 0 rgba(0,0,0,1);
}

svg .LineToy:hover,
svg .StepGearToy:hover {
  opacity: .5;
}

svg .toy {
  cursor: pointer;
}

svg .color-blue {
  fill: #459a9b;
}
svg .color-yellow {
  fill: #f69539;
}
svg .color-pink {
  fill: #e4679a;
}
svg .color-green {
  fill: #22b14b;
}
svg .color-white {
  fill: #bbbdbf;
}
svg .color-pink2 {
  fill: #e22851;
}
svg .color-yellow2 {
  fill: #fefe48;
}
svg .color-blue2 {
  fill: #77669f;
}

svg .toy.SnakeToy polygon {
  opacity: .5;
}

svg .toy.SnakeToy polygon:hover {
  opacity: 1;
}

    /*

html,body{ height:100%; }
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
}
body{
  margin: 0;
  padding: 0;
  background: #1d232c;
  font-family: "grotzechdcndemiregular";
  letter-spacing: .05em;
  color: #939498;
  overflow: hidden;
  font-size: 1.4em;
  color: white;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -ms-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
canvas {
  position: absolute;
  left:0;
  right:0;
  width: 100%;
  height:100%;
  z-index: 1;
}
.pos {
  position: absolute;
  border: 0px;
  cursor: pointer;
}
#title{ top: 20px; left: 20px; z-index: 2; }
#itunes{
  text-align: center;
  text-decoration: none;
  color: white;
  line-height: 1.4em;
  opacity: 0.5;
}

div#loading {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  font-size: 1.4em;
  margin-top: 30%;
}
img#menu-button{
  top: 0px; right: 0px; z-index: 4;
}
div#menu {
  background: #0d1116;
  position: absolute;
  top:0;
  right:0px;
  bottom:0;
  margin: 0;
  padding :0;
  padding-top: 60px;
  width: 270px;
  text-align: center;
  -webkit-transition: all .2s ease-in;
  overflow: auto;
  z-index: 3;
  font-size: .9em;
  -webkit-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -ms-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in;
  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  -o-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transform: translate3d(280px,0,0);
  -moz-transform: translate3d(280px,0,0);
  -ms-transform: translate3d(280px,0,0);
  -o-transform: translate3d(280px,0,0);
  transform: translate3d(280px,0,0);
}
div#menu.open {
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

div#menu a.button {
  display: inline-block;
  background: #ffba00;
  color: #010100;
  text-align: center;
  width: 100px;
  height: 40px;
  line-height: 40px;
  text-decoration: none;
  margin-top: 10px;
}
.disabled {
  background: #9e9fa1 !important;
}
p.option {
  display: inline-block;
  text-align: left;
  margin: 5px;
}
a.text-link {
  text-decoration: none;
  color: #ffba00;
  padding: 0 5px;
  -webkit-transition: all .15s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  -ms-transition: all .15s ease-in-out;
  -o-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;

}
a.text-link:hover {
  background: #ffba00;
  color: #010100;
}

p{
  font-size: .8em;
}
hr {
  border: 1px solid #12181f;
}
*/
